/* general style */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    --primary-col: #8C52FF;
    --secondary-col: #38B6FF;
    --bg-col: #faf9fe;
    --top-margin: 2rem;


}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background: var(--bg-col);
    font-size: 18px;
}

input {
    margin-right: 0.5rem;
    margin-bottom: 0.65rem;
}



hr {

    width: 60%;
    height: 3.5px;
    margin: 1rem auto;
    color: black;
    background-color: var(--primary-col);
}

a {
    color: black;
    cursor: pointer;
}

a:hover {
    color: var(--primary-col);
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* end of general style */

/* nav style */
nav {
    position: sticky;
    top: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: var(--bg-col);
    z-index: 10;
}

nav .container {
    padding: 0.2rem;
    margin-top: var(--top-margin);
    display: flex;
    justify-content: space-around;

}

nav .container .logo-brand {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

nav .container i {
    font-size: 2rem;
    color: var(--primary-col);
}


nav .menu {
    display: flex;
    align-items: center;

}




nav .menu .items {
    display: flex;
    gap: 1.5rem;
    font-size: 1.2rem;
}

/* end of nav style */

/* category and sorting style */

.category-sort {
    margin-top: var(--top-margin);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.category {
    align-self: center;
    text-align: start;
    max-width: 30rem;
}

/* dropdown */
/* I decided to make the dropdown 
from scratch because the styling is way easier */


.dropbtn {
    background-color: var(--secondary-col);
    color: black;
    padding: 0.2rem 2.4rem;
    font-size: 16px;
    border: none;
    border-radius: 3px;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    min-width: 8rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

.dropdown-content a {
    display: block;
    font-size: 1rem;
    background-color: var(--bg-col);
}

.dropdown-content a:hover {
    background-color: transparent;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--primary-col);
}

/* end of category and sorting style */

/* filter and products style */
main {
    background-color: white;
}
.counter {
    margin-top: 20px;
    text-align: end;
    font-size: 0.80rem;
    margin-right: 1rem;
}
.filter-products {
    margin-top: var(--top-margin);
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: minmax(100vh, auto);
}

/* left-side (filter sidebar) */
.filter {
    margin-top: var(--top-margin);
    margin-bottom: var(--top-margin);

}

.filter-group1 h4,
.filter-group2 h4 {
    text-align: center;
}

.filter h3 {
    margin-bottom: var(--top-margin);
}

.hoverby {
    display: none;
}

/* right-side (products) */

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 350px));
    justify-content: center;
    grid-auto-rows: 450px;
    gap: 0.5rem;
    border-left: 4px solid var(--primary-col);
    margin-top: var(--top-margin);
    margin-bottom: var(--top-margin);

}

.box {
    /* border: 1px solid red; */
    margin-left: var(--top-margin);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box img {
    width: 80%;
    height: 80%;
}

.item-desc {
    margin-top: 0.2rem;
    text-align: center;
}

#hr-price {
    width: 120px;
    height: 2px;
}

.price {
    text-align: center;
}

.price span {
    text-decoration: line-through;
    color: gray;
}

/* footer */
footer {
    margin-top: 20px;
    width: 80%;
    margin: 0 auto;
}

.footer {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    
}

/* load more */
.load-more {
    text-align: center;
    padding-bottom: 20px;
    width: 100%;
    
    background-color: white;
}
 .load-more button {
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
    background-color: var(--secondary-col);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;

}

.load-more button:active {
    box-shadow: 2px 2px 5px var(--primary-col);
}

@media screen and (max-width: 1200px) {
    .filter-products {
        grid-template-columns: 1fr 3fr;
    }
    
}

@media screen and (max-width: 990px) {
    
    /* to do: make filter section hide and show with a button */
    body {
        font-size: 15px;
    }
    
    
    .logo-brand h1{
        display: none;
    }
    nav .container {
        width: 100%;
        margin-top: 0;
        gap: 0;
    }

    nav .menu .items {
        gap: 0.8rem;
        font-size: 1.2rem;
    }

    .category p {
        display: none;
    }
    
    
   

    .filter-products {
        display: block;
    }

    .products {
        border: none;
    }

    .filter-group1,
    .filter-group2 {
        display: none;
    }
    
   .hoverby {
    display: block;
    float: right;
    font-size: 2rem;
   }

   .filter h3{
    font-size: 1.5rem;
   }

}